
body {
       background-image: url(../img/background1.png);
       background-size: 100%;
       background-repeat: no-repeat;

       margin: 0 auto;
}

.container {
       max-width: 1030px;
       width: 100%;
       margin: 0 auto;
}

.logo_header {
       display: flex;
       justify-content: space-between;
}

a {
text-decoration: none;
color: aliceblue;


}

.header_title{
       font-family: Roboto;
       font-style: normal;
       font-weight: bold;
       font-size: 29px;
       line-height: 29px;

       margin-left: 8px;
       margin-top: 0px;
}
.header_subtitle {
       font-family: Roboto;
       font-style: normal;
       font-weight: bold;
       font-size: 18px;
       line-height: 18px;

       /* margin-left: 8px; */
}

.header_top_menu {
       display: flex;
       justify-content: space-between;

       padding-top: 51px;
       padding-bottom: 17px;
}

.header_contacts {
      

       text-align: right;
}

.header_contact_email {
       margin-top: 16px;

       margin-bottom: 0px;
       
}

.header_contact_phone {
      

       display: inline-block;

    
}

.link_image {
       width: 53px;
       height: 47px; 
}

.content {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
}

.main_posts {
       position: relative;

       margin-top: 20px;
       margin-bottom: 37px;
}

.tour-description {
       position: absolute;
       display: none;

       background: #F26522;

       left:0;
       right: 0;

       padding: 18px 21px;
}

.tour-link:hover .tour-description {
     display: flex;
     justify-content: space-between;
     align-items: flex-end;
     bottom: 0;      

}

.header_contact_email:hover {
       color:#F26522 ;
}      

.header_contact_phone:hover {
       color:#F26522;
}
.tour-img {
       position: relative;
       overflow: hidden;
}