.menu{
    display: inline-block;
    color: #FF0000;
    line-height: 18px;


    align-items: center;
    margin-right: 72px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}

.menu__items {
   text-align: center; 

}

.background-image {
    width: 100%;
    height: 789px;

    top:25,5px
   

}

.main__theme {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 863,5px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;

    margin-top: 49px;
}
a {
    text-decoration: none;

    color: #FF0000;

}

body {
  height: 1600px;
  width: 100%;  
}

.info {
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;



    letter-spacing: 2.4px;


    color: #373737;

    margin-top: 38px;
}

.info__2 {
    text-align: center;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;



    letter-spacing: 2.4px;


    color: #373737;

    margin-top: 28px;

    
}







.end {
    color: #373737;
    font-size: 16px;
    line-height: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;

    text-align: right;

   margin-top: 199px;
}

.butt {
    background-color: #FF0000;
    color: white;

    text-transform: uppercase;
    text-align: center;
   


    border-radius: 4px;

    margin-top: 66px;

    

    width: 191px;
    height: 51px;

    padding-left: 42,5px;
    padding-right: 43.5px;
    padding-top: 18px;
    padding-bottom: 17px;
   
    display: block;
    margin-left: auto;
    margin-right: auto 
   
}