
body {
    background-image: url(../img/fon1.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.page__header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    background: rgba(0, 0, 0, 0.4);

    display: flex; 
    justify-content: space-between; 
}

.par__header {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px; 
    line-height: 22px;

    color: #FFFFFF;

    text-transform: uppercase;

    margin-left: 79px;

    margin-top: 20px;

}

.par__header:hover {
    color: #3CB878;
}

.nav_img {
    margin-right: 27px;
    margin-top: 27px;

    /* fill:#FFFFFF; */
}

.nav_img:hover {
    fill:green ;
}

.navigation__bar {
    display: flex;
}

.line {
     /* rotate: 90deg ; */

    height: 19px;
    width: 1px;

    display: flex;

    margin-top: 30px;
}

.par_navigatoin {
    display: flex;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #FFFFFF;

    margin-top: 30px;
    margin-left: 27px;
}

a {
    text-decoration: none;

    color: #FFFFFF;
}

.link_par {
    display: inline;
}

.link_par:hover {
    color: #3CB878;
}

.par_navigatoin_2 {
   margin-right: 79px;

   margin-top: 30px;

   font-family: Ubuntu;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 14px;

   color: #FFFFFF;

}

.sign_up_link:hover {
    color: #3CB878;
}

.contaainer_2 {
    max-width: 444px;
    max-height: 584px;

    margin: 0 auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.navigation__bar_2 {
    display: flex;
    justify-content: space-between;
}
.navbar_item {
    margin-top: 33px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}

.navbar_item_2 {
    color: #3CB878;

    margin-top: 33px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.container_3 {
    max-width: 324px;
    /* max-height: ; */

    margin: 0 auto;
    margin-top: 33px;

    position: relative;
}

.greeen_image {
    margin-left: 0px;
    margin-top: 33px;

    position: absolute;
}

.navigation__bar_3 {
    display: flex;

    margin-top: 15px;
}

.button_facebook {
    background: #305DB8;
    color: #FFFFFF;

    display: flex;

    border-radius: 10px;
}

.line_facebook {
    width: 1px;
    height: 28px;

    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;

    margin-right: 19px;
    margin-left: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.par_facebook {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 27px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}

.img_facebook {
    padding-top: 12px;
    padding-bottom: 12px;
}

.button_google {
    margin-left: 4px;

    display: flex;

    background: #DF4A32;

    border-radius: 10px;

}

.line_google {
    width: 1px;
    height: 28px;

    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;

    margin-left: 7px;
    margin-right: 30px;

}

.par_google {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    padding-top:17px ;
    padding-bottom: 17px;
    padding-right: 27px;

    color: #FFFFFF;
}

.g_button {
    padding-top: 15px;
    padding-bottom: 15px;
}