.main {
    color: #000000;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;

    margin-top: 63px;
    margin-left: 98px;

    
  
}
.another__color {
  color: aqua;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;

  

}
.menu {
  display: flex;
  justify-content: center;
  align-items: center; 

  width: 1283px;
  height: 72px;

  background: #35444F;

  top: 180px;
  
  list-style: none;

  margin-left: 98px;
  margin-top: 64px;
  margin-bottom: 48px;

}

.menu__item {
    color: #FFFFFF;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    padding: 40px;

    border: 1px solid #FFFFFF;
}

a { 
  text-decoration: none;
}

.menu__item:hover {
  background: #222F3A;

}

.main__list__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  line-height: 27px;

  list-style: none;

  display: flex;
  flex-direction: column;
  
  

  padding-bottom: 25px;
  padding-top: 26px;
  padding-left: 44px;
  padding-right: 78px;


 

 
}

.main__list {
  background: #FFFFFF;
  border: 1px solid #000000;

 
  margin-left: 100px;
  
 

  width: 320px;

  padding-left: 0px;

  margin-right: 52px;

  margin-top: 0px;
  

 
 
}

.main__list__item:hover {
 background-color: silver;
 
 padding-left: 50px;

 

}

.page__img {
  width: 320px;

 

 border: 1px solid #000000;

 padding-top: 75px;
 padding-bottom: 73px;
 padding-left: 297px;
 padding-right: 268px;

}

body {
  width: 1280px;
  
}

main {
  display: flex;

  margin-top: 48px;

  align-items: flex-start;
 
}

.paragraph1 {
 font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

margin-top: 37px;

color: #2C2C2C;

}

.paragraph2 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;

color: #2C2C2C;

margin-top: 34px;
}


.footer-navbar {
  background-color: #abafb1;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 40px;
}
.footer-list{
  padding: 20px 40px;
}

.footer-item {
  font-size: 28px;
  line-height: 28px;

  list-style-type: none;
  display: inline-block;
}

.footer-link{
  color: #0C1927;
  padding-left: 15px;
}

.footer-copyright{
  color: #0C1927;
  vertical-align: top;
  font-size: 24px;
  margin: auto;
}

.header-item:hover{
  background-color: #222e39;
}

.sidebar-item:hover{
  background-color: #d2d2d2;
  padding-left: 40px;
}

.footer-link:hover{
  text-decoration: underline;
  color: #307c9e;
}

